---
layout: default
name: schoolwork
date: 2020-08-19 12:00:00
---

<!--more-->

<div class="home other-pages">
  <h1 class="page-heading">School work</h1>
  <ul class="posts">

  {% for work in site.school-work %}


  {% if work.path contains 'html' %}
  {% assign rendr = false %}
  {% else %}
  {% assign rendr = true %}
  {% endif %}

  {% if rendr %}
    <li>
      <a href="{{ work.url | relative_url }}">{{ work.title }}</a> ({{ work.date | date: "%b %-d, %Y" }})

    </li>

    {% endif %}
  {% endfor %}
  </ul>
</div>

